<div class="editor" id="editor_page">
  <div class="col-sm-7" id="preview_page">
  <div class="edit-page">
  <h5>Editing Page</h5>
  </div>
   <app-tool-section (dragText)="dropItem($event)"></app-tool-section>
  </div>
  <div class="col-sm-5">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">CONTENT</a></li>
      <li><a data-toggle="tab" href="#menu1">STRUCTURE</a></li>
      <li><a data-toggle="tab" href="#menu2">BODY</a></li>
    </ul>
    <app-tool-section></app-tool-section>
  </div>
</div>