#tool_section {
    margin: 35px;
}

#panel_body {
    margin-bottom: 15px;
    height: 130px;
}
.highlight{
  border:solid 1px #0d0;
}
.dragitem{
  border:1px solid  #0d0;
  width:50%;
  /*padding:2px 4px;
  margin:5px 0;*/
}