<nav class="navbar navbar-inverse" id="nav_inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><i class="fa fa-cubes" id="fa_cubes"></i></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Action
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Messages</a></li>
        </ul>
      </li>
      <li>
        <a href="#" id="fa_eye_a">
          <i class="fa fa-eye" id="fa_eye"></i>
          <h4 id="show_structure">Show Structure</h4>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" id="nav_right">
      <li><a href="#" id="help">Help</a></li>
      <li>
        <button type="button" class="btn btn-primary" id="save">Save</button>
      </li>
    </ul>
  </div>
</nav>